#slide1{
  background-image: url("../images/bodyback.jpg");
  background-size:cover;
}

.intro{
  overflow-y: scroll;
  height: 90%;
  /*border: solid 15px blue;*/
}

#nav-bar li{
  display: inline;
}

.section{
  z-index: -1;
}
